@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", system-ui;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #080a0c;
  color: #fff;
}

.App {
  width: 90%;
  max-width: 900px;
  margin: 50px auto 100px auto;
}

.App h2 {
  font-size: 38px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block {
  background-color: #171d23;
  width: 400px;
  padding: 24px;
  border-radius: 24px;
}

.block h4 {
  font-size: 22px;
  margin-bottom: 8px;
}

.block label {
  display: block;
  font-size: 14px;
  color: #9198a1;
  margin-bottom: 4px;
}

.block input {
  display: block;
  background-color: #2b2e33;
  border: 1px solid transparent;
  padding: 18px 16px;
  width: 100%;
  border-radius: 16px;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s cubic-bezier(0.46, 0, 0.03, 0.99);
  margin-bottom: 8px;
  appearance: none;
  -moz-appearance: textfield;
}

.block input::-webkit-inner-spin-button,
.block input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.block input:hover,
.block select:hover {
  border-color: #4f5864;
}

.block input:focus:hover,
.block input:focus,
.block select:focus:hover,
.block select:focus {
  background-color: #171d23;
  outline: 0;
  border-color: #00afff;
}

.block select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  border: 1px solid transparent;
  transition: all 0.3s cubic-bezier(0.46, 0, 0.03, 0.99);
  cursor: pointer;
}

.span-container {
  cursor: pointer;
  background-color: #002a3a;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    gap: 10px;
  }

  .block {
    width: 100%;
  }
}
